In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn

In [ ]:
df=pd.read_csv('train.csv')

In [ ]:
df.tail(10)

,UDI,Air_temperature,Air_Speed,Process_temperature,Rotational_speed,Atmospheric_temperature,Tool_wear,Torque,Force_in_x_axis,Force_in_y_axis,Force_in_z_axis
3989,3990,302.2,9.67,311.3,1602,309.15,120,32.8,8.49123752,-0.5223764406,21.25595952
3990,3991,302.2,4.96,311.2,1692,309.15,122,28.2,8.494337362,-0.5185816824,21.164857
3991,3992,302.3,5.96,311.3,1682,309.15,127,34.4,8.497437204,-0.5147869242,21.07375447
3992,3993,302.3,8.33,311.3,1614,309.15,129,34.1,8.500537046,-0.5109921659,20.98265195
3993,3994,302.3,8.42,311.3,1324,309.15,131,47.8,8.503636888,-0.5071974077,20.89154943
3994,3995,302.3,11.12,311.4,1434,309.15,133,40.3,8.50673673,-0.5034026495,20.80044691
3995,3996,302.3,11.58,311.3,1621,309.15,135,31.6,8.509836572,-0.4996078913,20.70934438
3996,3997,302.3,12.29,311.3,1625,309.15,137,33.1,8.512936414,-0.4958131331,20.61824186
3997,3998,302.2,10.88,311.1,1394,309.15,140,53.7,8.516036256,-0.4920183749,20.52713934
3998,3999,302.1,12.08,311.0,1586,309.15,142,35.1,8.519136098,-0.4882236167,20.43603682

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      3999 non-null   int64
 1   Air_temperature          3999 non-null   float64
 2   Air_Speed                3999 non-null   float64
 3   Process_temperature      3999 non-null   float64
 4   Rotational_speed         3999 non-null   int64
 5   Atmospheric_temperature  3999 non-null   float64
 6   Tool_wear                3999 non-null   int64
 7   Torque                   3999 non-null   float64
 8   Force_in_x_axis          3999 non-null   object
 9   Force_in_y_axis          3999 non-null   object
 10  Force_in_z_axis          3999 non-null   object
dtypes: float64(5), int64(3), object(3)
memory usage: 343.8+ KB

In [ ]:
df['Force_in_x_axis']=pd.to_numeric(df['Force_in_x_axis'],errors='coerce')
df['Force_in_y_axis']=pd.to_numeric(df['Force_in_y_axis'],errors='coerce')
df['Force_in_z_axis']=pd.to_numeric(df['Force_in_z_axis'],errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      3999 non-null   int64
 1   Air_temperature          3999 non-null   float64
 2   Air_Speed                3999 non-null   float64
 3   Process_temperature      3999 non-null   float64
 4   Rotational_speed         3999 non-null   int64
 5   Atmospheric_temperature  3999 non-null   float64
 6   Tool_wear                3999 non-null   int64
 7   Torque                   3999 non-null   float64
 8   Force_in_x_axis          3998 non-null   float64
 9   Force_in_y_axis          3998 non-null   float64
 10  Force_in_z_axis          3998 non-null   float64
dtypes: float64(8), int64(3)
memory usage: 343.8 KB

In [ ]:
df['Force_in_x_axis']=df['Force_in_x_axis'].fillna(df['Force_in_x_axis'].median())
df['Force_in_y_axis']=df['Force_in_y_axis'].fillna(df['Force_in_y_axis'].median())
df['Force_in_z_axis']=df['Force_in_z_axis'].fillna(df['Force_in_z_axis'].median())

In [ ]:
corr_matrix=df.corr()

In [ ]:
corr_matrix['Torque']

UDI                       -0.007707
Air_temperature           -0.016950
Air_Speed                  0.018407
Process_temperature       -0.021870
Rotational_speed          -0.873034
Atmospheric_temperature    0.001304
Tool_wear                  0.012663
Torque                     1.000000
Force_in_x_axis            0.025940
Force_in_y_axis           -0.003325
Force_in_z_axis           -0.000358
Name: Torque, dtype: float64

In [ ]:
df.head()

,UDI,Air_temperature,Air_Speed,Process_temperature,Rotational_speed,Atmospheric_temperature,Tool_wear,Torque,Force_in_x_axis,Force_in_y_axis,Force_in_z_axis
0,1,298.1,13.67,308.6,1551,302.15,0,42.8,28.714100,-5.640320,81.108917
1,2,298.2,11.50,308.7,1408,302.15,3,46.3,28.815765,-5.483627,81.274582
2,3,298.1,11.25,308.5,1498,314.15,5,49.4,28.874094,-5.307098,81.407852
3,4,298.2,8.63,308.6,1433,314.15,7,39.5,28.890919,-5.112090,81.514557
4,5,298.2,11.92,308.7,1408,304.15,9,40.0,28.867971,-4.899905,81.600212

In [ ]:
df=df.rename(columns={'Force_in_x_axis':'fx','Force_in_y_axis':'fy','Force_in_z_axis':'fz'})
df=df.set_index('UDI')

In [ ]:
X=df.loc[:,df.columns !='Torque'].values
Y=df.iloc[:,6].values

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=42)

In [ ]:
Xtrain=sc.fit_transform(Xtrain)
Xtest=sc.fit_transform(Xtest)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gbrt = GradientBoostingRegressor(max_depth=5,n_estimators=300,learning_rate=0.03,random_state=42)
gbrt.fit(Xtrain,Ytrain)

GradientBoostingRegressor(learning_rate=0.03, max_depth=5, n_estimators=300,
                          random_state=42)

In [ ]:
from sklearn.metrics import r2_score, accuracy_score
from sklearn import model_selection
ypred=gbrt.predict(Xtrain)
print(r2_score(Ytrain,ypred))

0.9098263061876937

In [ ]:
gbrt.fit(Xtest,Ytest)
ypred1=gbrt.predict(Xtest)
print(r2_score(Ytest,ypred1))

0.9458408607114248

In [ ]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(gbrt,Xtest,Ytest,cv=10,scoring='r2'))
print(cross_val_score(gbrt,Xtrain,Ytrain,cv=10,scoring='r2'))

[0.85594365 0.82944958 0.82077862 0.79808664 0.86343346 0.77333344
 0.79722967 0.81936672 0.82895188 0.8220359 ]
[0.8675632  0.81593582 0.86809685 0.83670048 0.79402672 0.83765458
 0.81188472 0.84808982 0.83779465 0.84616867]

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
ada=AdaBoostRegressor(n_estimators=1000,learning_rate=0.2,random_state=42)
ada.fit(Xtrain,Ytrain)
ypred=ada.predict(Xtrain)
print(r2_score(Ytrain,ypred))
ada.fit(Xtest,Ytest)
ypred1=ada.predict(Xtest)
print(r2_score(Ytest,ypred1))
from sklearn.model_selection import cross_val_score
# print(cross_val_score(ada,Xtest,Ytest,cv=10,scoring='r2'))
# print(cross_val_score(ada,Xtrain,Ytrain,cv=10,scoring='r2'))

0.8431896672267234
0.8478074669405343

In [ ]:
from xgboost import XGBRegressor
xgr = XGBRegressor(eta= 0.1,
          max_leaves= 400,  
          max_depth= 9, 
          random_state= 42, 
          min_child_weight=30,
          silent= True,
          subsample=0.8)
xgr.fit(Xtrain, Ytrain)
ypred=xgr.predict(Xtrain)
print(r2_score(Ytrain,ypred))
xgr.fit(Xtest,Ytest)
ypred1=xgr.predict(Xtest)
print(r2_score(Ytest,ypred1))

0.9190432211522025
0.9303388032158467

In [ ]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(xgr,Xtest,Ytest,cv=10,scoring='r2'))
print(cross_val_score(xgr,Xtrain,Ytrain,cv=10,scoring='r2'))

[0.83862204 0.82726281 0.81415243 0.77926895 0.85261121 0.78696327
 0.80162737 0.79218305 0.79751207 0.80628282]
[0.86123729 0.80315988 0.86459923 0.83016204 0.79230282 0.83205502
 0.799579   0.82507942 0.82913228 0.83596668]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=400,max_depth=5,random_state=42)
rf.fit(Xtrain,Ytrain)
ypred=rf.predict(Xtrain)
print(r2_score(Ytrain,ypred))
rf.fit(Xtest,Ytest)
ypred1=rf.predict(Xtest)
print(r2_score(Ytest,ypred1))
from sklearn.model_selection import cross_val_score
# print(cross_val_score(rf,Xtest,Ytest,cv=10,scoring='r2'))
# print(cross_val_score(rf,Xtrain,Ytrain,cv=10,scoring='r2'))

0.8651580132773202
0.8781832589557882

Stacking the models

In [ ]:
from mlxtend.regressor import StackingCVRegressor

In [ ]:
stack=StackingCVRegressor(regressors=(xgr,rf,gbrt,ada),meta_regressor=xgr)

In [ ]:
stack.fit(Xtrain,Ytrain)

StackingCVRegressor(meta_regressor=XGBRegressor(eta=0.03, max_depth=5,
                                                max_leaves=400,
                                                min_child_weight=30,
                                                random_state=42, silent=True),
                    regressors=(XGBRegressor(eta=0.03, max_depth=5,
                                             max_leaves=400,
                                             min_child_weight=30,
                                             random_state=42, silent=True),
                                RandomForestRegressor(max_depth=5,
                                                      n_estimators=400,
                                                      random_state=42),
                                GradientBoostingRegressor(learning_rate=0.03,
                                                          max_depth=5,
                                                          n_estimators=300,
                                                          random_state=42),
                                AdaBoostRegressor(learning_rate=0.2,
                                                  n_estimators=1000,
                                                  random_state=42)))

In [ ]:
ypred=stack.predict(Xtrain)
print(r2_score(Ytrain,ypred))
stack.fit(Xtest,Ytest)
ypred1=stack.predict(Xtest)
print(r2_score(Ytest,ypred1))
from sklearn.model_selection import cross_val_score
# print(cross_val_score(stack,Xtest,Ytest,cv=3,scoring='r2'))
# print(cross_val_score(stack,Xtrain,Ytrain,cv=3,scoring='r2'))

0.8591878532156381
0.8580848292435694

In [ ]:
test=pd.read_csv('test.csv')
test['Force_in_x_axis']=pd.to_numeric(test['Force_in_x_axis'],errors='coerce')
test['Force_in_y_axis']=pd.to_numeric(test['Force_in_y_axis'],errors='coerce')
test['Force_in_z_axis']=pd.to_numeric(test['Force_in_z_axis'],errors='coerce')
test['Force_in_x_axis']=test['Force_in_x_axis'].fillna(test['Force_in_x_axis'].median())
test['Force_in_y_axis']=test['Force_in_y_axis'].fillna(test['Force_in_y_axis'].median())
test['Force_in_z_axis']=test['Force_in_z_axis'].fillna(test['Force_in_z_axis'].median())
test=test.rename(columns={'Force_in_x_axis':'fx','Force_in_y_axis':'fy','Force_in_z_axis':'fz'})
test=test.set_index('UDI')

In [ ]:
test.tail()

,Air_temperature,Air_Speed,Process_temperature,Rotational_speed,Atmospheric_temperature,Tool_wear,fx,fy,fz
UDI,,,,,,,,,
4995,303.5,12.79,312.6,1642,300.15,18,11.606579,3.291356,-70.302076
4996,303.6,8.04,312.6,1540,300.15,21,11.609679,3.295150,-70.393178
4997,303.6,8.29,312.8,1400,309.15,23,11.612778,3.298945,-70.484281
4998,303.6,16.21,312.8,2659,309.15,26,11.615878,3.302740,-70.575383
4999,303.6,10.88,312.8,1825,308.15,29,11.618978,3.306535,-70.666486

In [ ]:
test1=sc.fit_transform(test)

In [ ]:
predictions=xgr.predict(test1)
predictions[:20]

array([47.113487, 45.749744, 35.24928 , 41.87382 , 39.11203 , 47.065277,
       45.799324, 39.738888, 47.545628, 41.355976, 33.923805, 35.161564,
       41.329464, 48.1671  , 30.071402, 29.178816, 43.019844, 34.277294,
       23.067661, 27.744602], dtype=float32)

In [ ]:
submission=pd.DataFrame()
submission['UDI']=test.index
submission['Torque']=predictions
submission.set_index('UDI')

         Torque
UDI
4000  47.113487
4001  45.749744
4002  35.249279
4003  41.873821
4004  39.112030
...         ...
4995  34.389080
4996  40.965206
4997  50.301346
4998  18.419420
4999  27.932049

[1000 rows x 1 columns]

In [ ]:
len(test)

1000

In [ ]:
len(submission)

1000

In [ ]:
submission.to_csv('submission.csv', index=False)